<center><b><H1> DS 203: Assignment 4 </H1></b></center>
<center><b><H2> Vinit Awale </H1></b></center>
<center><b><H2> 18D070067 </H1></b></center>

<b><i><H3> Question 1: </H3></i></b>
Download, read, and display the data at the following URLs in in python using Google CoLab and pandas, and print the type of each variable. Comment on the difference between python data types (float, int, object
etc.) and the data types taught in class (categorical/nominal, ordinal, numerical (integer, quantized,
continuous) etc.).

1. <href>https://data.gov.in/resources/quarterly-range-wise-performance-public-facilities-operation-minor-no-or-local-937</href>
2. <href>https://finance.yahoo.com/quote/LLY/history?p=LLY </href>
3. <href> https://archive.ics.uci.edu/ml/datasets/Amphibians </href>

I have downloaded these datasets and saved them with the following names:
1. operation_minor.csv
2. LLY.csv
3. dataset.csv

### UPLOADING DATASET

In [1]:
from google.colab import files
uploaded = files.upload()

Saving dataset.csv to dataset.csv
Saving LLY.csv to LLY.csv
Saving operation_minor.csv to operation_minor.csv

Now, we have uploaded the datasets to our google colab.

### IMPORTS

In [1]:
import numpy as np
import pandas as pd

<center><H3><b>DATASET 1: OPERATION MINOR</b></H3></center>

### READING DATASET

In [2]:
dataset_1 = pd.read_csv('operation_minor.csv')

### DISPLAYING DATASET

In [4]:
dataset_1.head()

,District,Facility Type,Total No. of Facilities #,No. of facilities reporting nil performance *,Performance - Overall Average **,Performance - Maximum,Performance - Minimum,No. of facilities by performance - 1 to 30,No. of facilities by performance - 31 to 150,No. of facilities by performance - 151 to 300,No. of facilities by performance - >300
0,Alipurduar,DH,2,1,274,274,274,0,0,1,0
1,Alipurduar,SDH,2,1,64,64,64,0,1,0,0
2,Bankura,DH,4,1,302,487,93,0,1,0,2
3,Bankura,CHC,23,9,179,607,6,2,4,6,2
4,Birbhum,DH,2,0,561,589,534,0,0,0,2

In [5]:
dataset_1.tail()

,District,Facility Type,Total No. of Facilities #,No. of facilities reporting nil performance *,Performance - Overall Average **,Performance - Maximum,Performance - Minimum,No. of facilities by performance - 1 to 30,No. of facilities by performance - 31 to 150,No. of facilities by performance - 151 to 300,No. of facilities by performance - >300
69,South Twenty Four Parganas,PHC,79,77,39,58,20,1,1,0,0
70,Uttar Dinajpur,DH,1,0,805,805,805,0,0,0,1
71,Uttar Dinajpur,SDH,2,1,1028,1028,1028,0,0,0,1
72,Uttar Dinajpur,CHC,10,8,82,144,20,1,1,0,0
73,Uttar Dinajpur,PHC,24,23,46,46,46,0,1,0,0

In [7]:
dataset_1.shape

(74, 11)

Hence, we can see that there are 11 columns (features) and 74 rows (observations) in the dataset.

### DATA TYPES OF VARIABLES IN DATASET

In [6]:
dataset_1.dtypes

District                                         object
Facility Type                                    object
Total No. of Facilities #                         int64
No. of facilities reporting nil performance *     int64
Performance - Overall Average **                  int64
Performance - Maximum                             int64
Performance - Minimum                             int64
No. of facilities by performance - 1 to 30        int64
No. of facilities by performance - 31 to 150      int64
No. of facilities by performance - 151 to 300     int64
No. of facilities by performance - >300           int64
dtype: object